@import url('https://fonts.googleapis.com/css?family=Comfortaa& display=swap');
@media (max-width: 992px){
    body{
        display: grid;
        grid-template-columns: 100%;
        background: url('../fon2.png');
        background-position: top;
        background-size: cover;
        filter: blur(0px);
    }
    .Text{
        background-image: url("../images.jpg");
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 30px;
    }
    .text-header {
        font: 14px Stem-Regular,arial, sans-serif;/*Выбираем шрифт */
        border: 1px solid black;/*Цвет, размер и тип границы */
        -webkit-border-radius: 20px;/*Скругляем углы */
        color: #777991;/*Цвет label */
        width: 90%; /*Ширина формы */
        margin-right: auto; /*Положение формы */
        margin-left: auto; /*Положение формы */
        text-align: center; /*Центровка текста*/
    }
    header{
        display: grid;
        grid-template-columns: 15% 70% 15%;
        padding-bottom: 20px;
    }

    .btn_refresh{
        margin-left: 10%;
        width: 33px;
        height: 35px;
        background-image: url("../refresh.png");
        background-size: cover;
        background-color: transparent;
        border: none;
    }

    .btn_person{
        margin-left: 25%;
        width: 35px;
        height: 35px;
        background-image: url("../person.png");
        background-size: cover;
        background-color: transparent;
        border: none;
    }

    btn_groupe{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-top: 20px;
    }

    .btn{
        height: 30px;
        width: 150px;
    }

    .btn {
        font-family: 'Comfortaa', cursive;
        border: none;
        border-radius: 6px;
        padding: 10px 20px;
        color: #626262;
        background: #e0e0e0;
        cursor: pointer;
    }

    .btn:active {
        box-shadow: inset 3px 3px 5px #bcbcbc, inset -3px 3px 5px #fff;
    }

    .from{
        padding-bottom: 20px;
        margin: auto;
        text-align: center;
        font-size: 10px;
    }

    status{
        display: grid;
        grid-template-columns: 100%;
        padding-bottom: 20px;
        color: red;
        margin: auto;
        font: 14px Stem-Regular,arial, sans-serif;/*Выбираем шрифт */
        border: 1px solid black;/*Цвет, размер и тип границы */
        -webkit-border-radius: 20px;/*Скругляем углы */
        color: #777991;/*Цвет label */
        width: 90%; /*Ширина формы */
        margin-right: auto; /*Положение формы */
        margin-left: auto; /*Положение формы */
        text-align: center; /*Центровка текста*/
        background-color: #FFF8F8;
    }

    .Text1{
        font-size: 20px;
        color: red;
    }

    vlag{
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    bar{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    field{
        color: green;
    }
    hectare{
        font: 14px Stem-Regular,arial, sans-serif;/*Выбираем шрифт */
        border: 1px solid black;/*Цвет, размер и тип границы */
        -webkit-border-radius: 20px;/*Скругляем углы */
        color: #777991;/*Цвет label */
        width: 90%; /*Ширина формы */
        margin-right: auto; /*Положение формы */
        margin-left: auto; /*Положение формы */
        text-align: center; /*Центровка текста*/
    }
    label{
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (min-width: 1200px){
    body{
        display: grid;
        grid-template-columns: 100%;
        background: #e0e0e0;
    }
    .Text{
        background-image: url("../images.jpg");
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 30px;
    }
    .text-header {
        font: 14px Stem-Regular,arial, sans-serif;/*Выбираем шрифт */
        border: 1px solid black;/*Цвет, размер и тип границы */
        -webkit-border-radius: 20px;/*Скругляем углы */
        color: #777991;/*Цвет label */
        width: 90%; /*Ширина формы */
        margin-right: auto; /*Положение формы */
        margin-left: auto; /*Положение формы */
        text-align: center; /*Центровка текста*/
    }
    header{
        display: grid;
        grid-template-columns: 15% 70% 15%;
        padding-bottom: 20px;
    }

    .btn_refresh{
        margin-left: 10%;
        width: 33px;
        height: 35px;
        background-image: url("../refresh.png");
        background-size: cover;
        background-color: transparent;
        border: none;
    }

    .btn_person{
        margin-left: 25%;
        width: 35px;
        height: 35px;
        background-image: url("../person.png");
        background-size: cover;
        background-color: transparent;
        border: none;
    }

    btn_groupe{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-top: 20px;
        width: 15%;
        margin: auto;
    }

    .btn{
        height: 30px;
        width: 150px;
    }

    .btn {
        font-family: 'Comfortaa', cursive;
        border: none;
        border-radius: 6px;
        padding: 10px 20px;
        color: #626262;
        background: #e0e0e0;
        box-shadow: 10px 10px 20px #bcbcbc, 10px 10px 20px #fff;
        cursor: pointer;
    }

    .btn:active {
        box-shadow: inset 3px 3px 5px #bcbcbc, inset -3px 3px 5px #fff;
    }

    .from{
        padding-bottom: 20px;
        margin: auto;
        text-align: center;
        font-size: 30px;
    }

    status{
        display: grid;
        grid-template-columns: 100%;
        padding-bottom: 20px;
        color: red;
        margin: auto;
        font: 14px Stem-Regular,arial, sans-serif;/*Выбираем шрифт */
        border: 1px solid black;/*Цвет, размер и тип границы */
        -webkit-border-radius: 20px;/*Скругляем углы */
        color: #777991;/*Цвет label */
        width: 90%; /*Ширина формы */
        margin-right: auto; /*Положение формы */
        margin-left: auto; /*Положение формы */
        text-align: center; /*Центровка текста*/
        background-color: #e0e0e0;
        width: 70%;
    }

    .Text1{
        font-size: 20px;
        color: red;
    }

    vlag{
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    bar{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-bottom: 20px;
    }

    field{
        padding: 20px;
        color: green;
    }
    form{
        padding: 20px;
    }
    hectare{
        font: 14px Stem-Regular,arial, sans-serif;/*Выбираем шрифт */
        border: 1px solid black;/*Цвет, размер и тип границы */
        -webkit-border-radius: 20px;/*Скругляем углы */
        color: #777991;/*Цвет label */
        width: 90%; /*Ширина формы */
        margin-right: auto; /*Положение формы */
        margin-left: auto; /*Положение формы */
        text-align: center; /*Центровка текста*/
    }
    label{
        padding-left: 20px;
        padding-right: 20px;
    }
}