* {
    background-color: #2F3133;
}

b {
    text-align: left;
    font-size: 50px;
    color: #E3E5E2;
}

form {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}

label {
    padding: 30px;
    color: red;
    border: 2px;
}

g1 {
    color: #E3E5E2;
}

dash {
    display: grid;
    grid-template-columns: 800px 800px;
    padding: 30px;
    height: 10px;
}

vlag {
    padding: 30px;
}

.auto_poliv {
    height: 40px;
    width: 140px;
    border: none; /*Без границы*/
    cursor: pointer;
    font: 16px Stem-medium, arial, sans-serif; /*Выбираем шрифт кнопки */
    background-color: #454cee; /*Выбираем цвет фона */
    -webkit-border-radius: 8px; /*Закругление */
    color: white;

}

btn_groupe {
    display: grid;
    grid-template-columns: 200px 200px;
}

theme {
    padding-left: 1760px;
}

.dark_theme {
    height: 40px;
    width: 130px;
    border: none; /*Без границы*/
    cursor: pointer;
    font: 16px Stem-medium, arial, sans-serif; /*Выбираем шрифт кнопки */
    background-color: #2F3133; /*Выбираем цвет фона */
    -webkit-border-radius: 8px; /*Закругление */
    color: white;
}

.light_theme {
    height: 40px;
    width: 130px;
    border: none; /*Без границы*/
    cursor: pointer;
    font: 16px Stem-medium, arial, sans-serif; /*Выбираем шрифт кнопки */
    background-color: #E3E5E2; /*Выбираем цвет фона */
    -webkit-border-radius: 8px; /*Закругление */
    color: black;
}