<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST">
    <div class="container">
        <label><b>Панель Управления</b></label>
    </div>
    </form>

    <dash method="POST">
        <div class="layout">
            <label><a>wdawd</a></label>
            <label><a>wdawd</a></label>
            <label><a>wdawd</a></label>
            <label><a>wdawd</a></label>
            <label><a>wdawd</a></label>
        </div>
    </dash>

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/dashboard.css') }}">
</body>
</html>